@tailwind base;
@tailwind components;
@tailwind utilities;

/*****************************Login Form*******************************/
.modal-success {
  background-color: #28a745 !important;
  border-radius: 50px;
  padding: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
}
.modal-error {
  background-color: #dc3545 !important;
  border-radius: 50px;
  padding: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: transparent !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
/*****************************Logout****************************/
/* CSS for the logout modal */
.logout {
  text-align: center;
  padding: 20px 50px;
  background-color: #fff;
  color: black;
  border-radius: 100px;
}
.logout-modal {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-buttons {
  margin-top: 20px;
}
.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.modal-buttons button {
  background: #333;
  color: #fff;
}
/**************************Dashboard*****************************/
.create {
  position: relative;
}

.form {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.plus {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: 30px;
  right: 25px;
}

/***************************User Form*************************/
.btn {
  color: #0a58ca;
}
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-color: black !important;
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
/******************************Material UI TABLE**************************************/
.css-1ygcj2i-MuiTableCell-root,
.css-1ndpvdd-MuiTableCell-root {
  font-weight: 900 !important;
}
.css-1yhpg23-MuiTableCell-root,
.css-177gid-MuiTableCell-root {
  font-size: 1.5rem !important;
}
@media (max-width: 767px) {
  .table-auto td,
  .table-auto th {
    padding: 5px;
    font-size: 10px;
  }
  .table-auto {
    overflow-x: auto;
  }
}

.css-18k87ye-MuiTypography-root {
  font-weight: 900 !important;
}
.css-12q85cb-MuiTableCell-root {
  font-weight: 800 !important;
  border-bottom: none !important;
}
.css-vtdehq-MuiTableCell-root{
  border-bottom: none !important;
}
.nested-table-container  {
  margin: 0 100px !important;
}
.total{
  padding-left: 0 !important;
}
@media screen and (max-width: 375px) {
  .nested-table-container {
    overflow-x: auto;
  }
  table {
    width: 100%;
  }
  .box-table {
    margin: 0;
  }
  .table-con {
    font-size: 12px;
  }
}
.nested-table-container  {
  margin: 0  !important;
}
.breadcrumb{
  margin-bottom: 0px;
}
.btn:hover{
  /* background-color: #fff; */
  border:1px solid black 
}
.btn{
  color: #333;
  border-color: #333;
  --bs-btn-padding-x:0px !important;
  --bs-btn-padding-y:0px !important;
  padding: 0px 5px;
}
*{
  --tw-ring-color: none;

}
.dropdown-toggle btn{
  padding: 0px;
}

.custom-select option {
  background-color: white;
  color: black;
  padding: 10px !important;
}

/* Define the hover style for other options */
.custom-select option:not([value="yellow"]):hover {
  background-color:black;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {

  cursor: pointer;
}

.css-1ex1afd-MuiTableCell-root{
  border-bottom: none !important;
}
@media (max-width: 425px) {
 .nameinfo{
  font-size:12px ;
 }
}
/* ============================== */

.status-cell {
 font-size: 13px !important;
}

.download-icon-cell {
font-size: 12px;
}
.edit-icon{
  font-size: 25px;
}
.delete-icon{
  font-size: 28px;
}
@media (max-width: 425px) {
  .status-cell {
    font-size: 10px ; 
  }
  .edit-icon{
    font-size: 18px;
  }
  .delete-icon{
    font-size: 20px;
  }
  .download-icon-cell {
   font-size: 10px;
  }
  .hidden-on-small-screens {
    display: none;
  }
}

@media (max-width: 320px) {
  .status-cell {
   font-size: 10px;
  }

  .download-icon-cell {
  font-size: 10px;
  }
}
option:hover {
  background-color: initial !important; 
  color: initial !important;
}